/* Gece/gündüz modu  */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Font */

body {
    font-family: 'Inter', sans-serif;
}

/* ------ */
/* Uygulama kutucuğu */

.custom-box {
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Logo */
.custom-box img {
    width: 70px; 
    height: 70px;
    margin-right: 16px;
}

/* Başlık */
.custom-box .title {
    font-size: 18px;
    font-weight: bold;
    color: #0b87da;
    text-decoration: none;
    margin-bottom: 8px;
}

.custom-box .title:hover {
    text-decoration: none;
}

/* Açıklama */
.custom-box .description {
    font-size: 14px;
    color: inherit;
}

/* Etiketler  */
.custom-box .icon-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

/* Gece/Gündüz */
.light-mode .custom-box {
    background-color: #f9f9f9;
    border-color: #ccc;
    color: #000;
}

.dark-mode .custom-box {
    background-color: #1a1a1a;
    border-color: #444;
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .custom-box {
        flex-direction: column;
        text-align: center;
        padding: 12px; 
    }
    .custom-box img {
        max-width: 100px; 
        height: auto; 
        margin: 0 auto 12px auto; 
    }
    .custom-box .title {
        font-size: 16px; 
    }
    .custom-box .description {
        font-size: 13px; 
    }
    .custom-box .icon-group {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 8px; 
        margin-top: 12px; 
    }
}
/* ------ */

/* ------ */

/* Uygulama kutucuğu 2 */
.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Kutu tasarımı */
.service-box {
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    width: calc(50% - 16px); 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/* İkon */
.service-box img {
    width: 50px;
    height: auto;
}

/* Başlık */
.service-box .title {
    font-size: 18px;
    font-weight: bold;
    color: #0b87da;
}

/* Gece/Gündüz modu */
.light-mode .service-boxx {
    background-color: #f9f9f9;
    border-color: #ccc;
    color: #000;
}

.dark-mode .service-box {
    background-color: #1a1a1a;
    border-color: #444;
    color: #fff;
}

/* Responsive ayarları */
@media (max-width: 768px) {
    .service-box {
        width: 100%; 
        flex-direction: column; 
        text-align: center; 
    }
    .service-box img {
        margin-bottom: 8px; 
    }
}

/* ------ */

