@use "../utils/mixins";

.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  @include mixins.set-size(var(--width-of-switch), var(--height-of-switch));
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  input {
    opacity: 0;
    @include mixins.set-size(0, 0);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
  &:before {
    position: absolute;
    content: '';
    @include mixins.set-size(var(--size-of-icon), var(--size-of-icon));
    border-radius: 20px;
    left: var(--slider-offset);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #303136;
  &:before {
    left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
}
